/*-------------  Import files -------------*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Plus+Jakarta+Sans:wght@600;700&display=swap');
/*-------------  Variables -------------*/
* {
  --white: #FFF;
  --primary-100: #525FE1;
  --nearBlack: #1A202C;
  --gray-1: #333;
  --gray-2: #4F4F4F;
  --yellow: #FFCF59;
  --mediumGray: #858282;
  --lightGray: #EEE;
}
/*-------------  Global styles -------------*/

p, li, a{
  color: var(--gray-2)
}
.main-nav a {
  font-weight: 600;
  font-size: 16px;
  

  
}
ul{
  display: flex;
  
}
.main-anchors li
{
  margin: 0 1.25rem;
}
.main-anchors li:last-child{
  margin-right: 0;
}


.additional-anchors li{
  margin: 0 .75rem;
}


/*-------------  Classes styles -------------*/

.main-nav{
  width: 1440px;
  height: 100%;
  background: var(--white);
  border-bottom: 1px solid var(--lightGray);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo
{
  color: var(--primary-100);
  font-weight: bold;
  font-size: 32;
  line-height: 150%;
  letter-spacing: -3%;
}
.home{
  color: var(--nearBlack);
  font-weight: bold;
}
.sign-up, .sing-in{
  padding: .25rem .75rem;
  border: 2px solid var(--yellow);
  border-radius: 25% 0;
}
.sign-in{
  padding: .25rem 1.25rem;
  background: var(--yellow);
  box-shadow: 2px 4px 15px #ffd773;
  border-radius: 0 25%;
}

