/*-------------  Import files -------------*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Plus+Jakarta+Sans:wght@600;700&display=swap&family=Open+Sans:wght@300;700');

/*-------------  Variables -------------*/
* {
  --white: #fff;
  --primary-100: #525fe1;
  --primary-light: #dee1fa;
  --nearBlack: #1a202c;
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --yellow: #ffcf59;
  --mediumGray: #858282;
  --lightGray: #eee;
  --blue-100: rgba(82, 95, 225, 20%);
  --secondary-400: rgba(152, 71, 255, 20%);
  --secondary-100: rgba(255, 96, 168, 20%);
}
/*-------------  Global styles -------------*/

p,
li,
a {
  color: var(--gray-2);
}
.main-nav a {
  font-weight: 600;
  font-size: 16px;
}

p,
h1,
h6 {
  font-family: 'Lato', sans-serif;
}

ul {
  display: flex;
}
.main-anchors li {
  margin: 0 1.25rem;
}
.main-anchors li:last-child {
  margin-right: 0;
}

.additional-anchors li {
  margin: 0 0.75rem;
}

/*-------------  Classes styles -------------*/

.main-nav {
  position: relative;
  height: 100%;
  background: var(--white);
  border-bottom: 1px solid var(--lightGray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.logo {
  color: var(--primary-100);
  font-weight: bold;
  font-size: 32;
  line-height: 150%;
  letter-spacing: -3%;
}
.home {
  color: var(--nearBlack);
  font-weight: bold;
}
.sign-up,
.sing-in {
  padding: 0.25rem 0.75rem;
  border: 2px solid var(--yellow);
  border-radius: 25% 0;
}
.sign-in {
  padding: 0.25rem 1.25rem;
  background: var(--yellow);
  box-shadow: 2px 4px 15px var(--yellow);
  border-radius: 0 25%;
}
.main-content {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(82, 95, 225, 1) 450%
  );
}
.pattern1 {
  position: relative;
  top: -5rem;
  left: -2.5rem;
  z-index: 1;
}
.pattern2 {
  position: absolute;
  right: 0;
  top: 25rem;
}

/*-------------  Hero section -------------*/

.hero-text {
  text-align: center;
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -15rem;
}
.hero-text p,
.btn {
  position: relative;
  top: -9rem;
}
.hero-text p {
  font-weight: 300;
  line-height: 160%;
  width: 50%;

  margin-bottom: 1.25rem;
}
.hero-text h1 {
  margin-bottom: 0;
}
.circle-ease {
  position: relative;
  top: -6rem;
  right: -4.5rem;
  width: 250px;
  height: 150px;
}
.ease-span {
  margin-left: 1.75rem;
}
.btn {
  background: var(--primary-100);
  color: var(--white);
  border-radius: 38px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: -2%;
  line-height: 150%;
  font-size: small;
  padding: 0.85rem 1.5rem;
  box-shadow: 2px 4px 15px var(--primary-100);
}
.ellipse {
  display: flex;
  justify-content: start;
  width: 650px;
  position: relative;
  top: -8rem;
  left: 1rem;
}

/*-------------  Instruction section -------------*/

.instruction-container,
.chose-container,
.feature-container {
  position: relative;
  top: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.instruction-container h2,
.instruction-container h5 {
  font-weight: bold;
}
.instruction-container h5,
.chose-container h5,
.feature-container h5,
.testimonial-container h5 {
  color: var(--primary-100);
  font-size: 1.25rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.instruction-container h2,
.chose-container h2,
.testimonial-container h2 {
  font-size: 2.5rem;
  width: 35%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.main-instruction-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 4rem;
}

.main-instruction-container h6 {
  font-weight: 600;
  font-size: 1rem;

  color: var(--gray-1);
  margin: 0 35%;
  padding: 0;
}
.main-instruction-container p {
  color: var(--gray-2);
  margin: 0.75rem 25%;
  line-height: 1.25rem;
}
.arrows-container {
  position: relative;
  top: 10rem;
  left: 2rem;
  width: 50%;
}
.firstArrow {
  position: relative;
  left: -8rem;
}

/*-------------  Chose section -------------*/

.chose-steps-container,
.feature-container {
  display: flex;
  justify-content: column;
  text-align: left;
  margin: 0 15%;
}
.section {
  padding: 2rem;
}
.chose-container {
  padding-top: 5rem;
}
.chose-steps-container h6 {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}
.chose-steps-container p,
.feature-container p {
  color: var(--gray-3);
}

.align-section {
  align-self: center;
  padding: 0 5rem;
}
.people-icon,
.star-icon,
.click-icon {
  float: left;
}
img.people-icon,
img.star-icon,
img.click-icon {
  width: 95px;
}
.chose-steps-container h6,
.chose-steps-container p {
  position: relative;
  left: 0.5rem;
  top: -0.75rem;
}

/*-------------  Feature section -------------*/

.feature-container {
  margin-top: 2rem;
}
.feature-container h2 {
  font-size: 2rem;
  text-align: center;
  width: 45%;
}
.card-container {
  display: flex;
  flex-direction: row;
}
.card img {
  width: 50px;
}
.card {
  width: 225px;
  height: 200px;
  border-radius: 0.5rem;
  padding: 1.75rem 0 0 0.75rem;
  margin-right: 2rem;
}
.card.primaryLight {
  background: var(--blue-100);
  box-shadow: 2px 2px 5px var(--blue-100);
}
.card.seconday-400 {
  background: var(--secondary-400);
  box-shadow: 2px 2px 5px var(--secondary-400);
}
.card.seconday-100 {
  background: var(--secondary-100);
  box-shadow: 2px 2px 5px var(--secondary-100);
}

/*-------------  Testimonial section -------------*/

.testimonial-container {
  position: relative;
  top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.testimonial-container h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.profile-container {
  background: var(--white);
  padding: 1.75rem;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  margin-left: 2rem;
}
.yellow {
  border: 1px solid var(--yellow);
  position: relative;
  top: -0.5rem;
}

.sm {
  width: 280px;
  height: 145px;
}
.profile-mainContainer {
  display: flex;
}
.icon-container {
  display: flex;
  justify-content: space-between;
}
.span {
  display: flex;
  color: #0b132a;
  font-size: 10px;
}
.profile1 {
  margin-right: 0.75rem;
}
.profile1-name-nation {
  display: flex;
}
.profile1-name-nation h6,
.profile1-name-nation span {
  margin: 0;
}
.profile1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
