<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hello</title>
</head>
<body>
    <h1 class="flex justify-center pt-6 pb-6 font-semibold decoration-slate-500 ">LangRythm API Guide</h1>
    <hr>
    <div class="container mx-auto flex justify-center pt-6">
        <div class="border border-sky-500 mx-2 pr-12 pl-2 pt-4  pb-4 w-60">
            <h3 class="font-semibold">Request</h3>
            <span class="text-green-500">/users</span>
        </div>
        <div class="border border-sky-500 mx-2 pr-12 pl-2 pt-4 pb-4 w-60">
            <h3 class="font-semibold">Response</h3>
            <span class="text-green-500">200</span>
        </div>
        
    </div>

    <div class="container mx-auto flex justify-betweeen basis-96	">
        <div class="mr-44">
            <p class="border border-green-500 p-2 w-60"><span class="bg-green-400 text-white p-2 rounded-sm text-center	opacity-80	">GET </span>LIST USERS</p>
        </div>
        <div class="bg-indigo-200 rounded-md justify-self-center opacity-80 mt-2">
            <pre>
                <code>
{
    "data": [
    {
    "email": "ahmed@yahoo.com",
    "fullname": "Ahmed imad",
    "id": 0,
    "userId": "017f8024193e4d5db2b92409ec19fa5e"
    },
    {
    "email": "ahmed@aol.com",
    "fullname": "Ahmed imad",
    "id": 1,
    "userId": "02f2ca5e1c154d80a4909f57999e1a16"
    },
    {
    "email": "ahmed@hotmail.com",
    "fullname": "Ahmed Awad",
    "id": 2,
    "userId": "81e6aff87e9e4d678d007066c541534b"
    }
    ]
}                 
                </code>
            </pre>
            
        </div>
    </div>
    
    
</body>
</html>